<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>CarPC Astra H </mat-toolbar>
  <div class="btn-group-lg buttons-container">
    <mat-button-toggle class="btn-primary" (click)="onConnectButtonClick()">Click aqu&iacute; para emparejar</mat-button-toggle>
    <mat-button-toggle class="btn-primary" (click)="onDisconnectButtonClick()">Click aqu&iacute; para desemparejar</mat-button-toggle>
  </div>

  <br>
  <h3 style="color:red">{{deviceInfo}}</h3>
  <h3 style="color:red">{{connectStatus}}</h3>
</div>


